* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

img {
  width: 35vw;
  height: auto;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.body-container {
  max-width: 300px;
  padding: 20px 20px 0px 0px;
  display: inline-block;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}
